{% include('common/_header.twig') %}

    <!--*************************************************************************************-->
    <div class="main"> <!-- доп.обёртка для прижатия футера -->

        {% include('common/_admin_nav.twig') %}

        <div class="content">
            <div class="wrapper wrapper-admin">

                {% include('common/_admin_info.twig') %}

                <div class="admin-control-area">
                    <div class="admin-files-header">
                        <h2>МОИ ФАЙЛЫ</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" class="form-control" id="inputPhoto" name="photo" accept="image/*">
                            <button type="submit" class="btn btn-submit" name="submit">Загрузить</button>
                        </form>
                    </div>



                    <table>
                        {% for file in files %}
                            <tr>
                                <td><img src="/admin/thumbs/{{ file.filename }}" alt=""></td>
                                <td>{{ file.comment }}</td>

                                <td width="250px">
                                    <a class="btn btn-info" href="" data-id='{{ id }}'>Редактировать</a>
                                    <a class="btn btn-danger" href="" id="deletelink_{{ id }} ?>" data-id='{{ id }}'>Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                </div>

            </div>
        </div>
    </div>
    <!--*************************************************************************************-->



{% include('common/_footer.twig') %}
